<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IReportDAO" type="Mirantis.ReportingTool.DAL.Contracts.IReportDAO, Mirantis.ReportingTool.DAL.Contracts" />
  <alias alias="ReportDAO" type="Mirantis.ReportingTool.DAL.DataAccessEF.ReportDAO, Mirantis.ReportingTool.DAL.DataAccessEF" />

  <alias alias="IUserDAO" type="Mirantis.ReportingTool.DAL.Contracts.IUserDAO, Mirantis.ReportingTool.DAL.Contracts" />
  <alias alias="UserDAO" type="Mirantis.ReportingTool.DAL.DataAccessService.UserDAO, Mirantis.ReportingTool.DAL.DataAccessService" />
  <alias alias="CachedUserDAO" type="Mirantis.ReportingTool.DAL.DataAccess.CachedUserDAO, Mirantis.ReportingTool.DAL.DataAccess" />

  <alias alias="IAuthenticationUserDAO" type="Mirantis.ReportingTool.DAL.Contracts.IAuthenticationUserDAO, Mirantis.ReportingTool.DAL.Contracts" />
  <alias alias="AuthenticationUserDAO" type="Mirantis.ReportingTool.DAL.DataAccessService.AuthenticationUserDAO, Mirantis.ReportingTool.DAL.DataAccessService" />

  <alias alias="IUserCache" type="Mirantis.ReportingTool.DAL.Contracts.IUserCache, Mirantis.ReportingTool.DAL.Contracts" />
  <alias alias="UserCache" type="Mirantis.ReportingTool.DAL.DataAccessCache.UserCache, Mirantis.ReportingTool.DAL.DataAccessCache" />

  <alias alias="IReportLogic" type="Mirantis.ReportingTool.BLL.Contracts.IReportLogic, Mirantis.ReportingTool.BLL.Contracts" />
  <alias alias="ReportLogic" type="Mirantis.ReportingTool.BLL.Core.ReportLogic, Mirantis.ReportingTool.BLL.Core" />

  <alias alias="IUserLogic" type="Mirantis.ReportingTool.BLL.Contracts.IUserLogic, Mirantis.ReportingTool.BLL.Contracts" />
  <alias alias="UserLogic" type="Mirantis.ReportingTool.BLL.Core.UserLogic, Mirantis.ReportingTool.BLL.Core" />

  <alias alias="IAuthenticationUserLogic" type="Mirantis.ReportingTool.BLL.Contracts.IAuthenticationUserLogic, Mirantis.ReportingTool.BLL.Contracts" />
  <alias alias="AuthenticationUserLogic" type="Mirantis.ReportingTool.BLL.Core.AuthenticationUserLogic, Mirantis.ReportingTool.BLL.Core" />

  <alias alias="ICustomLogger" type="Mirantis.ReportingTool.BLL.Contracts.ICustomLogger, Mirantis.ReportingTool.BLL.Contracts" />
  <alias alias="CustomLogger" type="Mirantis.ReportingTool.BLL.Core.CustomLogger, Mirantis.ReportingTool.BLL.Core" />
  <container>
    <register type="IReportDAO" mapTo="ReportDAO" />
    <register type="IUserDAO" mapTo="UserDAO"/>
    <register type="IAuthenticationUserDAO" mapTo="AuthenticationUserDAO" />
    <register type="IUserCache" mapTo="UserCache">
      <lifetime type="singleton" />
    </register>
    <register type="IUserDAO" mapTo="CachedUserDAO" name="CachedUser">
      <constructor>
        <param name="userDao">
          <dependency type="UserDAO" />
        </param>
        <param name="cache">
          <dependency type="UserCache" />
        </param>
      </constructor>
    </register>
    
    <register type="ICustomLogger" mapTo="CustomLogger" />

    <register type="IReportLogic" mapTo="ReportLogic"/>
    <register type="IAuthenticationUserLogic" mapTo="AuthenticationUserLogic" />
    <register type="IUserLogic" mapTo="UserLogic">
      <constructor>
        <param name="userDAO">
          <dependency type="CachedUserDAO" />
        </param>
        <param name="customLogger">
          <dependency type="CustomLogger" />
        </param>
      </constructor>
    </register>
  </container>
</unity>