<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Mirantis.ReportingToolForInternship.DAL.Contracts.IReportDAO, Mirantis.ReportingToolForInternship.DAL.Contracts"
              mapTo="Mirantis.ReportingToolForInternship.DAL.DataAccessEF.ReportDAO, Mirantis.ReportingToolForInternship.DAL.DataAccessEF" />
    <register type="Mirantis.ReportingToolForInternship.BLL.Contracts.IReportLogic, Mirantis.ReportingToolForInternship.BLL.Contracts"
              mapTo="Mirantis.ReportingToolForInternship.BLL.Core.ReportLogic, Mirantis.ReportingToolForInternship.BLL.Core" />
    
    <register type="Mirantis.ReportingToolForInternship.BLL.Contracts.ICustomLogger, Mirantis.ReportingToolForInternship.BLL.Contracts"
              mapTo="Mirantis.ReportingToolForInternship.BLL.Core.CustomLogger, Mirantis.ReportingToolForInternship.BLL.Core" />
    
    <register type="Mirantis.ReportingToolForInternship.DAL.Contracts.IUserDAO, Mirantis.ReportingToolForInternship.DAL.Contracts"
              mapTo="Mirantis.ReportingToolForInternship.DAL.DataAccessService.UserDAO, Mirantis.ReportingToolForInternship.DAL.DataAccessService" />
    <register type="Mirantis.ReportingToolForInternship.BLL.Contracts.IUserLogic, Mirantis.ReportingToolForInternship.BLL.Contracts"
              mapTo="Mirantis.ReportingToolForInternship.BLL.Core.UserLogic, Mirantis.ReportingToolForInternship.BLL.Core" />
    
    <register type="Mirantis.ReportingToolForInternship.DAL.Contracts.IAuthenticationUserDAO, Mirantis.ReportingToolForInternship.DAL.Contracts"
              mapTo="Mirantis.ReportingToolForInternship.DAL.DataAccessService.AuthenticationUserDAO, Mirantis.ReportingToolForInternship.DAL.DataAccessService" />
    <register type="Mirantis.ReportingToolForInternship.BLL.Contracts.IAuthenticationUserLogic, Mirantis.ReportingToolForInternship.BLL.Contracts"
              mapTo="Mirantis.ReportingToolForInternship.BLL.Core.AuthenticationUserLogic, Mirantis.ReportingToolForInternship.BLL.Core" />
  </container>
</unity>