@model IEnumerable<Mirantis.ReportingTool.PL.WebUI.Models.ErrorVM>

<div class="row text-center alert alert-danger">
    <ul>
        @foreach (var error in Model)
        {
            <li>
                @error.Description
            </li>
        }
    </ul>
</div>

<script>
    hideLoadingIcon();
    unlockAllFunctions();
</script>