<div class="text-center alert alert-danger">
    <div>
        <strong>Something error occured on server</strong>
    </div>
    <div>
        <input type="button" value="Hide message" id="HideMessage" class="btn btn-default">
    </div>
</div>

<script>
    assignEventToHideMessageButton();
</script>