<div class="form-group text-center alert alert-success">
    <div>
        <strong>Report successfully saved as draft</strong>
    </div>
    <div class="col-xs-6">
        <input type="button" value="Rework report" id="ReworkReport" class="btn btn-default">
    </div>
    <div class="col-xs-6">
        <input type="button" value="Go to search" id="SearchReports" class="btn btn-default">
    </div>
</div>