<div class="alert alert-danger">
    <p class="text-center">
        Server error
    </p>
</div>

<div class="text-center">
    <img class="img-error500 img-responsive" src="~/Images/error500.jpg" />
</div>