<div class="alert alert-danger">
    <p class="text-center">
        Access denied
    </p>
</div>

<div class="text-center">
    <img class="img-error403 img-responsive" src="~/Images/error403.jpg" />
</div>