<div class="alert alert-danger">
    <p class="text-center">
        Unathorizer
    </p>
</div>

<div class="text-center">
    <img class="img-error401 img-responsive" src="~/Images/error401.jpg" />
</div>